<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My CrossFit</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <div id="app">
        <!-- Navigation -->
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand" href="#">My CrossFit</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>-->
                </ul>
                <form class="form-inline my-2 my-lg-0" v-if="!authenticated">
                    <input class="form-control" type="text" placeholder="Username" v-model="user.username">
                    <input class="form-control" type="password" placeholder="Password" v-model="user.password">
                    <button class="btn btn-outline-success" v-on:click.prevent="checkAuth">Login</button>
                </form>
                <button class="btn btn-outline-success" v-if="authenticated" v-on:click.prevent="logout">Logout</button>
            </div>
        </nav>
        <br/>
        <div v-if="authenticated" class="container">
            <div class="mdl-grid" id="my-table">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h4 class="mdl-card__title-text">Enter your 1 Rep Max</h4>
                        </div>

                        <div class="mdl-card__supporting-text">
                            <select class="form-control " placeholder="Movement" v-model="event.movement">
                                <option v-for="movement in movements" >{{movement.movement}}</option>
                            </select>
                            <input class="form-control" placeholder="Weight / Height" v-model="event.weight">
                            <select class="form-control" v-model="event.measurement">
                              <option value="kg" selected>kg</option>
                              <option value="cm">cm</option>
                            </select>
                            <input type="date" class="form-control" placeholder="Date" v-model="event.date">
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <button class="btn btn-sm btn-outline-primary" v-on:click="addEvent">Add</button>
                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--8-col" v-if="!graphOn">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%;">
                        <div class="">
                            <thead>
                                <tr class="">
                                    <td class="strong mdl-data-table__cell--non-numeric" style="width:40%;">Movement</td>
                                    <td style="width:20%;">Weight</td>
                                    <td style="width:30%;">Date</td>
                                    <td style="width:10%;"></td>
                                    <td style="width:10%;"></td>
                                    <td style="width:10%;"></td>
                                    <td style="width:10%;"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="event in events">
                                    <td v-if="event !== editingEvent" class="mdl-data-table__cell--non-numeric">{{ event.movement }}</td>
                                    <td v-if="event == editingEvent">
                                        <select class="form-control" placeholder="Movement" v-model="event.movement">
                                        <option v-for="movement in movements" >{{movement.movement}}</option>
                                    </select>
                                    </td>
                                    <td v-if="event !== editingEvent">{{ event.weight }} {{ event.measurement }}</td>
                                    <td v-if="event == editingEvent"><input class="form-control" type="text" class="text-input" @keyup.enter="endEditing(event)" v-model="event.weight"></td>

                                    <td v-if="event !== editingEvent"><i class="glyphicon glyphicon-calendar" v-if="event.date"></i> {{ event.date | moment }}</td>
                                    <td v-if="event == editingEvent"><input class="form-control" type="text" class="text-input" @keyup.enter="endEditing(event)" v-model="event.date"></td>

                                    <td v-if="event !== editingEvent"><i class="fa fa-percent" v-on:click="selectEvent(event.weight)" data-toggle="modal" data-target=".bs-example-modal-sm"></td>
                                    <td v-if="event !== editingEvent"><i class="fa fa-pencil" v-on:click="editEvent(event)"></i></td>

                                    <td v-if="event == editingEvent"></td>
                                    <td v-if="event == editingEvent"><i class="fa fa-ban" v-on:click="editEvent()"></i></td>

                                    <td v-if="event == editingEvent "><i class="fa fa-save" v-on:click="endEditing(event) "></i></td>
                                    <td v-if="event !== editingEvent"><i class="fa fa-ban" v-on:click="remove(event)"></i></td>

                                    <td v-if="event == editingEvent"><i class="fa fa-line-chart" v-on:click=""></i></td>
                                    <td v-if="event !== editingEvent"><i class="fa fa-line-chart" v-on:click="setGraph(event.movement)"></i></td>

                                </tr>
                            </tbody>
                        </div>
                    </table>
                </div>

                <div class="mdl-cell mdl-cell--8-col" v-if="graphOn">
                    <area-chart :data="graphMovement"></area-chart>
                    <!--https://github.com/ankane/vue-chartkick-->
                    <button class="btn btn-sm btn-outline-primary" v-on:click="showTable()">Back</button>
                </div>
            </div>
        </div>





        <!--Percentages Modal-->
        <div class="modal fade bs-example-modal-sm " tabindex="-1 " role="dialog " aria-labelledby="mySmallModalLabel ">
            <div class="modal-dialog modal-md " role="document ">
                <div class="modal-content ">
                    <div class="modal-header ">
                        <button type="button " class="close " data-dismiss="modal " aria-label="Close "><span aria-hidden="true ">&times;</span></button>
                        <h4 class="modal-title ">1 Rep Max Percentages</h4>
                    </div>
                    <div class="modal-body ">
                        <table class="table ">
                            <thead>
                                <tr class=" ">
                                    <td class="strong ">% of 1 RM</td>
                                    <td class="strong ">Scaled Weight</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class=" ">90%</td>
                                    <td class=" " v-if="selectedEvent> 0">{{ selectedEvent * 0.9 | rounding(0) }}</td>
                                </tr>
                                <tr>
                                    <td class="">80%</td>
                                    <td class="" v-if="selectedEvent > 0">{{ selectedEvent * 0.8 | rounding(0) }}</td>
                                </tr>
                                <tr>
                                    <td class="">70%</td>
                                    <td class="" v-if="selectedEvent > 0">{{ selectedEvent * 0.7 | rounding(0) }}</td>
                                </tr>
                                <tr>
                                    <td class="">60%</td>
                                    <td class="" v-if="selectedEvent > 0">{{ selectedEvent * 0.6 | rounding(0) }}</td>
                                </tr>
                                <tr>
                                    <td class="">50%</td>
                                    <td class="" v-if="selectedEvent > 0">{{ selectedEvent * 0.5 | rounding(0) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>
    <script type="text/javascript" src="https://cdn.backand.net/vanilla-sdk/1.1.2/backand.min.js"></script>
    <script type="text/javascript" src="https://cdn.backand.net/socket.io/1.4.5/socket.io.js"></script>
    <script type="text/javascript" src="getmdl-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://unpkg.com/chart.js@2.5.0/dist/Chart.bundle.js"></script>
    <script src="https://unpkg.com/chartkick@2.2.3"></script>
    <script src="https://unpkg.com/vue-chartkick@0.2.0"></script>

    <script src="app.js"></script>

</body>

</html>